form{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    background-color: aliceblue;
    margin: auto;
    max-width: 800px;
    align-items: stretch;
}

h1{
    text-align: center;
    font-family: 'Barrio';
    font-size: 300%;
}

fieldset{
    grid-column: span 2;
    grid-row: span 1;
    background: rgb(213, 220, 226);
}

label{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Architects Daughter";
}

div#sidebar{
    grid-column: span 1;
    grid-row: span 1;
    position: relative;
    bottom: 200px;
    text-align: center;
    font-family: "Architects Daughter";
    padding-left: 20px;
    padding-right: 20px;
    align-content: stretch;
}



